.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie-search {
  width: 80%;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 45px 0px #ffed;
  margin-bottom: 40px; 
  font-size: 18px;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.movie-wrapper {
  border-radius: 10px;
  width: 500px;
  background-color: antiquewhite;
  color: black;
}

.movie-title {
  font-weight: bold;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.movie-date {
  margin-top: 15px;
  /* font-size: 18px; */
  font-weight: bold;
}
.movie-rate {
  font-size: 1.5em;
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
}